body {
  background-color: #646464;
}

h1 {
  color: #ff9642;
}

h3 {
  color: #ffe05d;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #fff8cd;
  border-width: 6px;
  width: 3%;
}
